#board {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
#score {
        text-align: center;
        font-size: 50px;
      }
#status {
        text-align: center;
        font-size: 50px;
      }


